src/main/java/com/lz/spring/extendxsd/xsd/tag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/schema/tag"
        xmlns:tns="http://www.example.org/schema/tag" elementFormDefault="qualified">
    <element name="tag">
        <complexType>
            <attribute name ="id" type = "string"/>
            <attribute name="name" type="string"/>
            <attribute name="other1" type="string"/>
        </complexType>
    </element>
</schema>